/* Partials */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* Variables */
/* Color palette and fonts */
:root {
    --primary-color-1: hsl(0, 36%, 70%);
    --primary-color-2: hsl(0, 93%, 68%);

    --neutral-color-1: hsl(0, 6%, 24%);
    --neutral-color-2: hsl(0, 0%, 100%);

    --gradient-a1: hsl(0, 0%, 100%);  //* Linear, 135deg, from a1 to a2.
    --gradient-a2: hsl(0, 100%, 98%);
    --gradient-b1: hsl(0, 80%, 86%);  //* Linear, 135deg, from b1 to b2.
    --gradient-b2: hsl(0, 74%, 74%);

    --font-weight-light: 300;
    --font-weigth-normal: 400;
    --font-weigth-bold: 600;

    --border-color: rgb(206, 151, 151, .5);
    --link-color: hsl(228, 45%, 44%);

    --error-input-color: rgb(233, 0, 0);
    --error-msg-color: rgb(240, 50, 50);

    --primary-font: 'Josefin Sans', sans-serif;
    --atributtion-font-size: 0.6875rem;

    font-size: 16px;
}

// Reusable code //
@mixin flexContainer($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

/* Mobile 375px */
/* Base */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background: linear-gradient(135deg, var(--gradient-a1) 0%, var(--gradient-a2) 80%);
}

.attribution { 
    font-size: var(--atributtion-font-size); 
    text-align: center;

    & a {
        color: var(--link-color); 
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

/* Layout */
.grid-container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "logo"
    "hero"
    "content";
    text-align: center;
    color: var(--primary-color-1);
}

.logo{
    grid-area: logo;
}

.hero {
    background-image: url("../images/hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
    grid-area: hero;
}

.content {
    grid-area: content;
}

.footer {
    margin-top: 5rem;
    padding-bottom: .5rem;
}

/* Moules */
.logo {
    text-align: left;

    &__img {
        display: block;
        width: 45%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
    }
}

.title {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: var(--font-weigth-bold);
    line-height: 2.5rem;
    letter-spacing: .5rem;
    color: var(--neutral-color-1);

    &__span {
        font-weight: var(--font-weight-light);
        color: var(--primary-color-1);
    }
}

.para {
    line-height: 1.5;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    margin-bottom: 2rem;
}

.form {
    @include flexContainer(row, center, center);

    &__email {
        min-height: 3rem;
        width: 18rem;
        border: 0.1rem solid var(--border-color);
        border-radius: 10rem;
        color: var(--border-color);
        font-weight: var(--font-weigth-bold);
        transform: translateX(2.6rem);

        &::placeholder {
            color: var(--border-color);
            font-weight: var(--font-weigth-bold);
        }
    }

    &__btn {
        border: none;
        background: linear-gradient(135deg, var(--gradient-b1) 0%, var(--gradient-b2) 85%);        
        width: 18%;
        height: 3rem;
        border-radius: 15rem;
        transform: translateX(-1.6rem);

        &:hover {
            background: var(--gradient-b1);
        }
    }

    &__error {
        visibility: hidden;
        transform: translateX(-2rem);
    }

    &__message {
        font-size: .8rem;
        font-weight: var(--font-weigth-bold);
        color: var(--error-msg-color);
        margin-top: .5rem;
        margin-left: -3rem;
    }
}

input[type = email] {
    padding-left: 2rem;
    color: var(--border-color);
    font-weight: var(--font-weigth-bold);
    background-color: inherit;
}

.message {
    @include flexContainer(column, center, center);

    margin-top: 13rem;

    &__title {
        font-weight: var(--font-weigth-bold);
    }
}


/* Mobile 425px */
@media screen and (min-width: 425px) {
    .title {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}


/* Tablet 768px */
@media screen and (min-width: 768px) {
    .title {
        font-size: 5rem;
        line-height: 5rem;
    }
    
    .para {
        padding-left: 10rem;
        padding-right: 10rem;
        font-size: 1.2rem;
    }

    .form {
        &__btn {
            width: 5rem;
        }
    }
}


/* Desktop 1024px */
@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-areas: 
        "logo logo logo logo hero hero hero"
        "content content content content hero hero hero"
        "content content content content hero hero hero";
    }

    .hero{
        background-image: url("../images/hero-desktop.jpg");
        max-width: 610px;
        min-height: 800px;
        height: 100vh;
    }
}


/* Desktop 1040px */
@media screen and (min-width: 1040px) {
    .logo {
        &__img {
            width: 35%;
            margin-top: 5rem;
            margin-left: 7rem;
        }
    }

    .hero {
        min-height: 100%;
    }

    .title {
        padding-left: 9rem;
        font-size: 6rem;
        line-height: 6.5rem;
        text-align: left;
    }

    .para {
        font-size: 1.5rem;
        text-align: left;
        padding-left: 9rem;
        margin-right: 7rem;
        margin-bottom: 4rem;
    }

    .form {
        &__email {
            margin-bottom: 10rem;
            width: 35rem;
            height: 4.5rem;
            font-size: 1.5rem;
            transform: translateX(5.5rem);
        }

        &__btn {
            width: 8rem;
            height: 4.5rem;
            transform: translateY(-5rem) translateX(-2.6rem);

            &__img {
                width: 15%;
            }
        }

        &__error {
            transform: translateX(-3.2rem) translateY(-5rem);
            width: 5%;
        }

        &__message {
            font-size: 1.3rem;
            transform: translateX(-3.2rem) translateY(-9rem);
        }
    }

    .footer {
        margin-top: .5rem;
        padding-bottom: .5rem;
    }
}
